<section>
	<div class=" sub-topic ">
		<h1>Declarative user interface</h1>
	</div>
	<h1>identify app</h1>

	<pre ng-if="!imgOn"><code class="html">
	&lt;!DOCTYPE html&gt;
	&lt;html ng-app=&quot;presentation&quot;&gt;
	&lt;head lang=&quot;en&quot;&gt;
	</code></pre>
	<!--<img src="img/ng_app.png" />-->

	<h1>identify controller</h1>

		<pre><code class="html">
	&lt;div ng-controller=&quot;MeetUpDemoCtrl&quot;&gt;
	  &lt;span ng-bind=&quot;meetUp&quot;&gt;{{meetUP}}&lt;/span&gt;
		</code></pre>
	<img ng-if="imgOn" src="img/ng_controller.png" />

</section>