<section>
	<div class=" sub-topic ">
		<h1>Declarative user interface</h1>
	</div>

	<h1>identify show</h1>
	<pre ng-if="!imgOn"><code class="html">
	&lt;div ng-show=&quot;showInfo&quot;&gt;
	&lt;span ng-bind=&quot;info&quot;&gt;&lt;/span&gt;
	</code></pre>
	<!--<img src="img/ng_show.png" />-->

	<h1>identify click</h1>
		<pre><code class="html">
	&lt;button ng-click=&quot;showConfirm(info)&quot; ng-bind=&quot;info&quot;&gt;&lt;/button&gt;
		</code></pre>
		<img ng-if="imgOn" src="img/ng_click.png" />

</section>