<section>
	<div class=" sub-topic ">
		<h1>Custom directives</h1>
	</div>
	<pre ng-if="!imgOn"><code class="html" style="font-size: 14px">
	&lt;!DOCTYPE html&gt;
	&lt;html ng-app=&quot;demo&quot;&gt;
	&lt;head lang=&quot;en&quot;&gt;
	  &lt;meta charset=&quot;UTF-8&quot;&gt;
	  &lt;link rel=&quot;stylesheet&quot; href=&quot;css/demo.css&quot;	type=&quot;text/css&quot;&gt;
  	  &lt;title&gt;Demo&lt;/title&gt;
	&lt;/head&gt;
	&lt;body ng-controller=&quot;demoCtrl&quot;&gt;

	  &lt;!------app navigation-------&gt;
	  &lt;my-navigation&gt;&lt;/my-navigation&gt;
	  &lt;!---------calendar----------&gt;
	  &lt;my-datepicker&gt;&lt;/my-datepicker&gt;
  	  &lt;!------report's table-------&gt;
	  &lt;my-table&gt;&lt;/my-table&gt;
	  &lt;!---------chart------------&gt;
	  &lt;my-chart&gt;&lt;/my-chart&gt;

	  &lt;script src=&quot;js/app.min.js&quot;&gt;&lt;/script&gt;
	&lt;/body&gt;
	&lt;/html&gt;
	</code></pre>
	<img ng-if="imgOn" src="img/d_app.png" style="width: 60%"/>
</section>